/* General Styles */
body {
  background-color: #0d1117;
  color: #bdbdbd;
}

footer .revision {
  display: flex;
  justify-content: center;
  font-size: 12px;
  margin-bottom: 15px;
}

/* Styles for Custom Name */
.ld-custom-name {
  color: #bdbdbd;
}

a.ld-custom-name {
  font-size: 0px;
}

.ld-custom-name:visited {
  color: #bdbdbd;
}

/* Styles for Profile Image */
.ld-profile-image {
  width: 150px;
  height: 150px;
}

/* Styles for Custom Button Container */
.ld-custom-button-container {
  transition: transform 150ms;
  background-color: #0d1117;
  transform-origin: center;
  will-change: transform;
  box-sizing: border-box;
  overflow: hidden;
  color: #bdbdbd;
  border: 1px solid #bdbdbd;
}

.ld-custom-button-container:hover {
  transform: scale(1.05);
  transition: transform 150ms;
}

/* Styles for Custom Button */
.ld-custom-button {
  /* transition: transform 450ms; */
  /* will-change: transform; */
  /* transform-origin: center; */
  /* border-radius: 14px; */
}

.ld-custom-button:hover,
.ld-custom-button:focus {
  /* transition: transform 150ms; */
  transform-origin: center;
}

.ld-custom-button:active {
  background-color: #0d1117;
  color: #bdbdbd;
  border-color: #bdbdbd;
}

/* Email Button */
#root-container div div div div.ld-mt-32 div:nth-child(1) div.ld-pos-rel div div:hover {
background-color: #D44638;
color: #ffffff;
}

/* Google Meet Button */
#root-container div div div div.ld-mt-32 div:nth-child(2) div.ld-pos-rel div div:hover {
background-color: #32a351;
color: #ffffff;
}

/* iMessage Button */
#root-container div div div div.ld-mt-32 div:nth-child(3) div.ld-pos-rel div div:hover {
background-color: #33a1fc;
color: #ffffff;
}

/* Android Button */
#root-container div div div div.ld-mt-32 div:nth-child(4) div.ld-pos-rel div div:hover {
background-color: #37cc65;
color: #ffffff;
}

/* LinkedIn Button */
#root-container div div div div.ld-mt-32 div:nth-child(5) div.ld-pos-rel div div:hover {
background-color: #0C98F6;
color: #0d1117
}

/* GitHub Button */
#root-container div div div div.ld-mt-32 div:nth-child(6) div.ld-pos-rel div div:hover {
background-color: #bdbdbd;
color: #0d1117;
}

/* Twitter Button */
#root-container div div div div.ld-mt-32 div:nth-child(7) div.ld-pos-rel div div:hover {
background-color: #0C98F6;
color: #0d1117
}

/* Instagram Button */
#root-container div div div div.ld-mt-32 div:nth-child(8) div.ld-pos-rel div div:hover {
background: linear-gradient(45deg, #833AB4, #C13584, #E1306C, #F77737, #FCAF45);;
color: #ffffff;
}

/* Spotify Button */
#root-container div div div div.ld-mt-32 div:nth-child(9) div.ld-pos-rel div div:hover {
background-color: #39d75f;
color: #ffffff;
}
/* Coffee Button */
#root-container div div div div.ld-mt-32 div:nth-child(10) div.ld-pos-rel div div:hover {
background-color: #ccb100;
color: #ffffff;
}

/* Styles for Description */
h2.ld-custom-description-h2 {
  color: #bdbdbd;
}

/* Styles for Background Base */
.ld-background-base {
  background-color: #0d1117;
}

/* Utility Styles */
div.page-container {
  background-color: #0d1117;
}

@media (min-width: 768px) {
  .page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
  .ld-mt-32 {
    display: flex;
    flex-wrap: wrap;
  }

  .ld-mt-32 div {
    flex-basis: 50%;
    box-sizing: border-box;
  }

  .ld-mt-32 div:nth-child(odd) {
    padding-right: 5px;
  }
}
