.ld-custom-name {
  color: #ffffff;
}

.ld-custom-name:visited {
  color: #ffffff;
}

.ld-custom-button-container {
  transition: transform 450ms;
  background-color: #0D1117;
  color: #ffffff;
  transform-origin: center;
  will-change: transform;
}

.ld-custom-button-container:hover {
  transform: scale(1.05);
  transition: transform 150ms;
 
}

.ld-custom-button {
  transition: transform 450ms;
  will-change: transform;
  transform-origin: center;
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 14px;
}

.ld-custom-button:hover {
 
  transform-origin: center;
  transition: transform 150ms;
 
  border-radius: 14px;
}

.ld-custom-button:active,
.ld-custom-button:focus {
  background-color: #0D1117;
  color: #bdbdbd;
  border-color: #ffffff;
}

div.page-container {
  background-color: #0D1117;
}

h2.ld-custom-description-h2 {
 color: #ffffff;
}

div.ld-background-base {
  background-color: #0D1117;
}

footer {
/*   position: fixed; */
  /* left: 0; */
  /* bottom: 0; */
  /* margin-left: auto;
  margin-right: auto; */
/*   z-index: -1; */
}

footer .revision {
  display: none;
  justify-content: center;
  margin-bottom: 15px;
  font-size: 12px;
}
/* 
footer .revision::before {
  content: "pushed by ";
}

footer .revision a {
  text-decoration: none;
}

footer .revision a::after {
  content: "";
} */
