.ld-custom-name
{
  color: #ffffff;
}

a.ld-custom-name
{
  font-size: 0px !important;
}

.ld-profile-image
{
  width: 150px;
  height: 150px;
}

.ld-custom-name:visited
{
  color: #ffffff;
}

.ld-custom-button-container
{
  transition: transform 450ms;
  background-color: #0d1117;
  color: #ffffff;
  transform-origin: center;
  will-change: transform;
}

.ld-custom-button-container:hover
{
  transform: scale(1.05);
  transition: transform 150ms;
}

.ld-custom-button
{
  transition: transform 450ms;
  will-change: transform;
  transform-origin: center;
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 14px;
}

.ld-custom-button:hover
{
  transform-origin: center;
  transition: transform 150ms;
  border-radius: 14px;
}

.ld-custom-button:active,
.ld-custom-button:focus
{
  background-color: #0d1117;
  color: #bdbdbd;
  border-color: #ffffff;
}

div.page-container
{
  background-color: #0d1117;
}

h2.ld-custom-description-h2
{
  color: #ffffff;
}

.ld-background-base
{
  background-color: #0d1117;
}

footer .revision
{
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
  font-size: 12px;
}

.ld-mt-32
{
  display: flex !important;
  flex-wrap: wrap !important;
}

.ld-mt-32 > div
{
  flex-basis: 50% !important;
  padding-right: 20px !important;
  box-sizing: border-box !important;
}
