@media (prefers-color-scheme: dark) {
    /* General Styles */
     html, body,.ld-background-base {
         background-color: #0d1117;
    }
    /* Styles for Custom Name */
     .ld-custom-name, .ld-custom-name:visited {
         color: #bdbdbd;
    }
    /* Styles for Custom Button Container */
     .ld-custom-button:hover, .ld-custom-button:focus, .ld-custom-button-container:hover {
         transform-origin: center;
         transform: scale(1.03);
         transition: transform 150ms;
    }
    /* Resume Button */
     #root-container div div div div.ld-mt-32 div:nth-child(1) div.ld-pos-rel div div:hover {
         background-color: #bdbdbd;
         color: #ffffff;
    }
    /* Email Button */
     #root-container div div div div.ld-mt-32 div:nth-child(2) div.ld-pos-rel div div:hover {
         background-color: #D44638;
         color: #ffffff;
    }
    /* Google Meet Button */
     #root-container div div div div.ld-mt-32 div:nth-child(3) div.ld-pos-rel div div:hover {
         background-color: #00ac47;
         color: #ffffff;
    }
    /* LinkedIn Button */
     #root-container div div div div.ld-mt-32 div:nth-child(4) div.ld-pos-rel div div:hover {
         background-color: #0C98F6;
         color: #ffffff;
    }
    /* iMessage Button */
     #root-container div div div div.ld-mt-32 div:nth-child(5) div.ld-pos-rel div div:hover {
         background-color: #33a1fc;
         color: #ffffff;
    }
    /* Android Button */
     #root-container div div div div.ld-mt-32 div:nth-child(6) div.ld-pos-rel div div:hover {
         background-color: #57c85b;
         color: #ffffff;
    }

    /* GitHub Button */
     #root-container div div div div.ld-mt-32 div:nth-child(7) div.ld-pos-rel div div:hover {
         background-color: #bdbdbd;
         color: #ffffff;
    }
    /* Twitter Button */
     #root-container div div div div.ld-mt-32 div:nth-child(8) div.ld-pos-rel div div:hover {
         background-color: #0C98F6;
         color: #ffffff;
    }
    /* Instagram Button */
     #root-container div div div div.ld-mt-32 div:nth-child(9) div.ld-pos-rel div div {
         background-color: linear-gradient(45deg, #833AB4, #C13584, #E1306C, #F77737, #FCAF45);
        /* color: #ffffff;
         */
    }
    /* Spotify Button */
     #root-container div div div div.ld-mt-32 div:nth-child(10) div.ld-pos-rel div div:hover {
         background-color: #39d75f;
         color: #0d1117;
    }
    /* Coffee Button */
     #root-container div div div div.ld-mt-32 div:nth-child(11) div.ld-pos-rel div div:hover {
         background-color: #ccb100;
         color: #0d1117;
         display: flex;
         align-items: center;
         justify-content: center;
    }
    /* Resume Button */
     #root-container div div div div.ld-mt-32 div:nth-child(1) div.ld-pos-rel div div:hover {
         color: #ffffff;
         background-image: none;
    }
    /* Email Button */
     #root-container div div div div.ld-mt-32 div:nth-child(2) div.ld-pos-rel div div:hover, #root-container div div div div.ld-mt-32 div:nth-child(2) div.ld-pos-rel div div .ld-icon.ld-d-flex.icon.icon-mail {
         color: #ffffff;
         background-image: none;
    }
    /* Google Meet Button */
     #root-container div div div div.ld-mt-32 div:nth-child(3) div.ld-pos-rel div div:hover, #root-container div div div div.ld-mt-32 div:nth-child(3) div.ld-pos-rel div div .ld-icon.ld-d-flex.icon.icon {
         color: #ffffff;
         background-image: none;
    }
    /* LinkedIn Button */
     #root-container div div div div.ld-mt-32 div:nth-child(4) div.ld-pos-rel div div:hover, #root-container div div div div.ld-mt-32 div:nth-child(6) div.ld-pos-rel div div .ld-icon.ld-d-flex.icon.icon {
         color: #ffffff;
         background-image: none;
    }
    /* iMessage Button */
     #root-container div div div div.ld-mt-32 div:nth-child(5) div.ld-pos-rel div div:hover, #root-container div div div div.ld-mt-32 div:nth-child(4) div.ld-pos-rel div div .ld-icon.ld-d-flex.icon.icon {
         color: #ffffff;
         background-image: none;
    }
    /* Android Button */
     #root-container div div div div.ld-mt-32 div:nth-child(6) div.ld-pos-rel div div:hover, #root-container div div div div.ld-mt-32 div:nth-child(5) div.ld-pos-rel div div .ld-icon.ld-d-flex.icon.icon {
         color: #ffffff;
         background-image: none;
    }
    /* GitHub Button */
     #root-container div div div div.ld-mt-32 div:nth-child(7) div.ld-pos-rel div div:hover {
         color: #ffffff;
         background-image: none;
    }
     #root-container div div div div.ld-mt-32 div:nth-child(7) div.ld-pos-rel div div .ld-icon.ld-d-flex.icon.icon {
         background-image: none;
    }
    /* Twitter Button */
     #root-container div div div div.ld-mt-32 div:nth-child(8) div.ld-pos-rel div div:hover, #root-container div div div div.ld-mt-32 div:nth-child(8) div.ld-pos-rel div div .ld-icon.ld-d-flex.icon.icon {
         color: #ffffff;
         background-image: none;
    }
    /* Instagram Button Background (keep separated for gradient)*/
     #root-container div div div div.ld-mt-32 div:nth-child(9) div.ld-pos-rel div div:hover {
         background-image: linear-gradient(45deg, #933AB4, #C13584, #E1306C, #F77737, #FCAF45);
    }
    /* Instagram Button icon Background (keep separated)*/
     #root-container div div div div.ld-mt-32 div:nth-child(8) div.ld-pos-rel div div .ld-icon.ld-d-flex.icon.icon {
         color: #ffffff;
         background-image: none;
    }
    /* Spotify Button */
     #root-container div div div div.ld-mt-32 div:nth-child(10) div.ld-pos-rel div div:hover, #root-container div div div div.ld-mt-32 div:nth-child(10) div.ld-pos-rel div div .ld-icon.ld-d-flex.icon.icon {
         background-image: none;
    }
    /* Coffee Button */
     #root-container div div div div.ld-mt-32 div:nth-child(11) div.ld-pos-rel div div:hover, #root-container div div div div.ld-mt-32 div:nth-child(11) div.ld-pos-rel div div .ld-icon.ld-d-flex.icon.icon {
         background-image: none;
         display: flex;
         align-items: center;
         justify-content: center;
    }
    /* Resume Button */
     #root-container div div div div.ld-mt-32 div:nth-child(1) div.ld-pos-rel div div {
         background-image: linear-gradient(#0d1117, #0d1117), linear-gradient(to right, #dddddd, #bdbdbd);
    }    
    /* Email Button */
     #root-container div div div div.ld-mt-32 div:nth-child(2) div.ld-pos-rel div div {
         background-image: linear-gradient(#0d1117, #0d1117), linear-gradient(to right, #B02E22, #D44638);
    }
    /* Google Meet Button */
     #root-container div div div div.ld-mt-32 div:nth-child(3) div.ld-pos-rel div div {
         background-image: linear-gradient(#0d1117, #0d1117), linear-gradient(to right, #03db5d, #00ac47);
    }
    /* LinkedIn Button */
     #root-container div div div div.ld-mt-32 div:nth-child(4) div.ld-pos-rel div div {
         background-image: linear-gradient(#0d1117, #0d1117), linear-gradient(to right, #26a6fb, #0C98F6);
    }
    /* iMessage Button */
     #root-container div div div div.ld-mt-32 div:nth-child(5) div.ld-pos-rel div div {
         background-image: linear-gradient(#0d1117, #0d1117), linear-gradient(to right, #4aadff, #33a1fc);
    }
    /* Android Button */
     #root-container div div div div.ld-mt-32 div:nth-child(6) div.ld-pos-rel div div {
         background-image: linear-gradient(#0d1117, #0d1117), linear-gradient(to right, #5fdd63, #57c85b);
    }
    /* GitHub Button */
     #root-container div div div div.ld-mt-32 div:nth-child(7) div.ld-pos-rel div div {
         background-image: linear-gradient(#0d1117, #0d1117), linear-gradient(to right, #dddddd, #bdbdbd);
    }
    /* Twitter Button */
     #root-container div div div div.ld-mt-32 div:nth-child(8) div.ld-pos-rel div div {
         background-image: linear-gradient(#0d1117, #0d1117), linear-gradient(to right, #1ea5ff, #0C98F6);
    }
    /* Instagram Button */
     #root-container div div div div.ld-mt-32 div:nth-child(9) div.ld-pos-rel div div {
         background-image: linear-gradient(#0d1117, #0d1117), linear-gradient(to right, #833AB4, #C13584, #E1306C, #F77737, #FCAF45,#833AB4);
    }
    /* Spotify Button */
     #root-container div div div div.ld-mt-32 div:nth-child(10) div.ld-pos-rel div div {
         background-image: linear-gradient(#0d1117, #0d1117), linear-gradient(to right, #3de764, #39d75f);
    }
    /* Coffee Button */
     #root-container div div div div.ld-mt-32 div:nth-child(11) div.ld-pos-rel div div {
         background-image: linear-gradient(#0d1117, #0d1117), linear-gradient(to right, #e6c701, #ccb100);
    }
    /* General rule for button hover */
     #root-container div div div div.ld-mt-32 div div.ld-pos-rel div div:hover {
         color: #ffffff;
    }
    /* Resume Button exception */
     #root-container div div div div.ld-mt-32 div:nth-child(1) div.ld-pos-rel div div:hover {
         color: #000000;
    }
    /* GitHub Button exception */
     #root-container div div div div.ld-mt-32 div:nth-child(7) div.ld-pos-rel div div:hover {
         color: #000000;
    }
    /* General rule for icon background */
     #root-container div div div div.ld-mt-32 div div.ld-pos-rel div div .ld-icon.ld-d-flex.icon.icon {
         background-image: none;
    }
    /* Instagram Button icon Exception */
     #root-container div div div div.ld-mt-32 div:nth-child(9) div.ld-pos-rel div div .ld-icon.ld-d-flex.icon.icon {
         color: #ffffff;
    }
    /* Styles for Description */
     h2.ld-custom-description-h2 {
         color: #bdbdbd;
    }
}

footer .revision {
  display: flex;
  justify-content: center;
  font-size: 12px;
  margin-bottom: 15px;
}

/* Common settings */
#root-container div div div div.ld-mt-32 div div.ld-pos-rel div div {
  border: 3px solid transparent;
  background-origin: padding-box;
  background-clip: padding-box, border-box;
}


/* Hide links.dev footer */
a.ld-custom-name {
  font-size: 0px;
}

/* Styles for Profile Image */
.ld-profile-image {
  width: 150px;
  height: 150px;
}

/* Utility Styles */
@media (min-width: 768px) {
  .page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }

   /* Stlyes for Flex Buttons */
  .ld-mt-32 > * {
    margin-top: 0.5vh !important;
    min-width: 50% !important;
    flex: 1 !important;
  }
    .ld-mt-32 {
    display: flex; */
    flex-wrap: wrap;
  }

  /* .ld-mt-32 div {
    flex-basis: 50%;
    box-sizing: border-box;
  } */
  .ld-mt-32 div:nth-child(odd) {
    padding-right: 5px;
  }
}
